@page "/projects"
@using Portfolio.Shared
@inject IJSRuntime

<h3>Projects</h3>

<div id="accordion">
    @foreach (var (project, index) in MyProjects.WithIndex())
    {
        var headerId = $"header{index}";
        var bodyId = $"collapse{index}";
        bool isShowing = index == 0; // Show first item on open

        <div class="card">
            <div class="card-header" id="@headerId">
                <h5 class="mb-0">
                    <button class=@("btn btn-link " + (isShowing ? "" : "collapsed"))
                            data-toggle="collapse"
                            data-target="#@bodyId"
                            aria-expanded=@(isShowing ? "true" : "false")
                            aria-controls="@bodyId">
                        @project.Header
                    </button>
                </h5>
            </div>
            <div id="@bodyId"
                 class=@("collapse " + (isShowing ? "show" : ""))
                 aria-labelledby="@headerId"
                 data-parent="#accordion">
                <div class="card-body">
                    @project.Body
                </div>
            </div>
        </div>
    }
</div>

@code {
    private ProjectDescription[] MyProjects =
    {
        new ProjectDescription
        {
            Header = "Project One",
            Body = "Body One"
        },
        new ProjectDescription
        {
            Header = "Project Two",
            Body = "Body Two"
        },
        new ProjectDescription
        {
            Header = "Project Three",
            Body = "Body Three"
        }
    };
}
